---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import HeroSection from '../components/HeroSection.astro';
import AboutSection from '../components/AboutSection.astro';
import CompaniesGrid from '../components/CompaniesGrid.astro';
import IndustriesSection from '../components/IndustriesSection.astro';
import Leadership from '../components/Leadership.astro';
import Sustainability from '../components/Sustainability.astro';
import NewsSection from '../components/NewsSection.astro';
import FAQSection from '../components/FAQSection.astro';
import TestimonialsSection from '../components/TestimonialsSection.astro';
// import CapabilitiesSection from '../components/CapabilitiesSection.astro';
import CTASection from '../components/CTASection.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Bin Naeem Industries | Powering Industries, Building the Future.">
	<Header />
	<main>
		<HeroSection />
		<AboutSection />
		<CompaniesGrid />
		<IndustriesSection />
		<Leadership />
		<Sustainability />
		<NewsSection />
		<FAQSection />
		<TestimonialsSection />
		<!-- <CapabilitiesSection /> -->
		<CTASection />
	</main>
	<Footer />
</Layout>
