---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import HeroSection from '../components/HeroSection.astro';
import AboutSection from '../components/AboutSection.astro';
import CompaniesGrid from '../components/CompaniesGrid.astro';
import IndustriesSection from '../components/IndustriesSection.astro';
import Leadership from '../components/Leadership.astro';
import Sustainability from '../components/Sustainability.astro';
// import NewsSection from '../components/NewsSection.astro';
import FAQSection from '../components/FAQSection.astro';
import TestimonialsSection from '../components/TestimonialsSection.astro';
import NewsletterSection from '../components/NewsletterSection.astro';
import ContactFormSection from '../components/ContactFormSection.astro';
import Footer from '../components/Footer.astro';
---

<Layout
	title="Bin Naeem Industries | Powering Industries, Building the Future."
	description="Bin Naeem Industries is a diversified industrial group in Pakistan spanning manufacturing, logistics, infrastructure, and sustainable growth."
>
	<Header />
	<main>
		<HeroSection />
		<AboutSection />
		<CompaniesGrid />
		<IndustriesSection />
		<Leadership />
		<Sustainability />
		<!-- <NewsSection /> -->
		<TestimonialsSection />
		<FAQSection />
		<NewsletterSection />
		<ContactFormSection />
	</main>
	<Footer />
</Layout>
